body {
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: rgba(0, 0, 0, 0.938);
}

.main_container{
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo img {
    width: 150px;
    height: 150px;
}

.logo h1 {
    color: white;
    font-size: 35px;
}

.sidebar {
    width: 230px;
    background-color: #2db134;
    padding: 20px;
    height: 639px;
    overflow-y: auto;


}

.sidebar button {
    display: block;
    width: 100%;
    background-color: rgb(50, 92, 231);
    margin-top: 10px;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

.sidebar button:hover {
    background-color: rgb(234, 22, 22);
}

.sidebar h1 {
    text-align: center;
}

.sidebar{
    scrollbar-color: smooth;
}

img {
    width: 180px;
    height: 150px;
}

h1 {
    color: white;
}

h3{
    color: white;
}

.nav-buttons {
    list-style: none;
    display: flex;
    gap: 15px;
    padding-left: 50px;
}

.activity_sidebar {
    width: 15%;
    background-color: #2db134;
    padding: 20px;
    height: 700px;
}

.activity_sidebar button {
    display: block;
    width: 100%;
    background-color: rgb(50, 92, 231);
    margin-top: 10px;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

.activity_sidebar button:hover {
    background-color: rgb(234, 22, 22);
}

.activity_sidebar h1 {
    text-align: center;
}


.activity_sidebar {
    scrollbar-color: auto;
}

button {
    text-align: left;
    cursor: pointer;
    font-size: 18px;
    background-color: transparent;
    color: white;
    border: 0px solid rgba(0, 0, 0, 0.938);
    padding: 10px 15px;
}

button[onclick="maincontent('python')"]{
    border-radius: 5px;
    background-color: red;
}

button[class="Clearn"]{
    background-color: red;
    border-radius: 5px;
    cursor: pointer;
}

button[class="Clearn"]:hover{
    background-color: #2db134;
    border-bottom: #2db134;
}

button:hover{
    border-radius: 5px;
    border-bottom: 2px solid red;
}

footer {
    background-color: black;
    text-align: center;
    padding: 1px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

.footer {
    font-size: 14px;
    color: white;
}

.footer a {
    color: gold;
    text-decoration: none;
    font-weight: bold;
}

.socials{
    width: 30px;
    height: 30px;
    border-radius: 3px;
    padding-right: 10px;
}

.py_intro {
    width: 95%;
    background-color: rgba(51, 67, 43, 0.751);
    padding: 20px 0px 20px 20px;
    height: 627px;
    margin: 0px;
    overflow-y: auto;
}

.activity_content{
    margin: 0px;
}

.py_intro h1{
    text-align: center;
    padding-bottom: 20px;
}

.py_intro h2{
    color: white;
    font-size: 35px;
}

.py_title{
    padding-bottom: 10px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.Ex_each_chapter{
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    padding: 10px;
}

.code_container{
    background-color: #0f1a26;
    color: #cbd5e1;
    padding: 20px;
    border-radius: 8px;
    font-size: 15px;
    width: 90%;
}

.text_code{
    color: #2db134;
}

.py_code{
    color: rgb(204, 91, 91);
}

.try{
    background-color: red;
    border-radius: 5px;
}

.compiler{
    padding-top: 10px;
}

button[class="try"]:hover{
    background-color: #2db134;
    border-bottom: #2db134;
}

.py_intro p{
    font-size: 20px;
}

#content h1 {
    color: green;
    font-size: 28px;
}

#content h2 {
    color: white;
    font-size: 20px;
    margin-top: 10px;
}